<p-toast position="top-center"></p-toast>
<p-panel header="Registros de Check-in">
    <p-table [value]="checkins" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="guest">Hóspede <p-sortIcon field="guest"></p-sortIcon>
                </th>
                <th pSortableColumn="dateIn">Data entrada <p-sortIcon field="dateIn"></p-sortIcon>
                </th>
                <th pSortableColumn="dateOut">Data saída <p-sortIcon field="dateOut"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-checkin>
            <tr>
                <td>{{checkin.guest.name}}</td>
                <td>{{checkin.dateIn | date: 'dd/MM/yyyy'}}</td>
                <td>{{checkin.dateOut | date: 'dd/MM/yyyy'}}</td>
                <td>
					<p-confirmPopup></p-confirmPopup>
					<button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded" (click)="confirm($event, guest)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>